<h2>Abstract</h2><span class="markdown">
The Budget Ontology describes the fundamental aspects of a budget. In this ontology the budget is taken to be a financial plan for a period and a budgeted agent with an estimate of future financial transitions like costs, revenue, expenditures and receipts and their detailed description and justification.</span>
