<h2 id="overv" class="list">Budget Ontology: Overview <span class="backlink"> back to <a href="#toc">ToC</a></span></h2>
<span class="markdown">
This ontology has the following classes and properties.</span>
<h4>Classes</h4>
<ul xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" class="hlist">
   <li>
      <a href="#AccountingReference"
         title="https://data.rijksfinancien.nl/budget/def/AccountingReference">Accounting reference</a>
   </li>
   <li>
      <a href="#Budget" title="https://data.rijksfinancien.nl/budget/def/Budget">Budget</a>
   </li>
   <li>
      <a href="#BudgetAdjustment"
         title="https://data.rijksfinancien.nl/budget/def/BudgetAdjustment">Budget adjustment</a>
   </li>
   <li>
      <a href="#BudgetAmount"
         title="https://data.rijksfinancien.nl/budget/def/BudgetAmount">Budget amount</a>
   </li>
   <li>
      <a href="#BudgetComponent"
         title="https://data.rijksfinancien.nl/budget/def/BudgetComponent">Budget component</a>
   </li>
   <li>
      <a href="#BudgetFunction"
         title="https://data.rijksfinancien.nl/budget/def/BudgetFunction">Budget function</a>
   </li>
   <li>
      <a href="#BudgetLine"
         title="https://data.rijksfinancien.nl/budget/def/BudgetLine">Budget line</a>
   </li>
   <li>
      <a href="#BudgetedAgent"
         title="https://data.rijksfinancien.nl/budget/def/BudgetedAgent">Budgeted agent</a>
   </li>
   <li>
      <a href="#BudgetedEntity"
         title="https://data.rijksfinancien.nl/budget/def/BudgetedEntity">Budgeted entity</a>
   </li>
   <li>
      <a href="#BudgetedTransactionType"
         title="https://data.rijksfinancien.nl/budget/def/BudgetedTransactionType">Budgeted transaction type</a>
   </li>
   <li>
      <a href="#Classification"
         title="https://data.rijksfinancien.nl/budget/def/Classification">Classification</a>
   </li>
</ul><h4>Object Properties</h4><ul xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" class="hlist">
   <li>
      <a href="#budgetedPeriod"
         title="https://data.rijksfinancien.nl/budget/def/budgetedPeriod">budgeted period</a>
   </li>
   <li>
      <a href="#hasAccountingReference"
         title="https://data.rijksfinancien.nl/budget/def/hasAccountingReference">has accounting reference</a>
   </li>
   <li>
      <a href="#hasAuthorizingAgent"
         title="https://data.rijksfinancien.nl/budget/def/hasAuthorizingAgent">has authorizing agent</a>
   </li>
   <li>
      <a href="#hasBudgetComponent"
         title="https://data.rijksfinancien.nl/budget/def/hasBudgetComponent">has budget</a>
   </li>
   <li>
      <a href="#hasBudgetAdjustment"
         title="https://data.rijksfinancien.nl/budget/def/hasBudgetAdjustment">has budget adjustment</a>
   </li>
   <li>
      <a href="#hasBudgetFunction"
         title="https://data.rijksfinancien.nl/budget/def/hasBudgetFunction">has budget function</a>
   </li>
   <li>
      <a href="#hasBudgetLine"
         title="https://data.rijksfinancien.nl/budget/def/hasBudgetLine">has budget line</a>
   </li>
   <li>
      <a href="#hasBudgetLineAmount"
         title="https://data.rijksfinancien.nl/budget/def/hasBudgetLineAmount">has budget line amount</a>
   </li>
   <li>
      <a href="#hasBudgetedAgent"
         title="https://data.rijksfinancien.nl/budget/def/hasBudgetedAgent">has budgeted agent</a>
   </li>
   <li>
      <a href="#hasBudgetedEntity"
         title="https://data.rijksfinancien.nl/budget/def/hasBudgetedEntity">has budgeted entity</a>
   </li>
   <li>
      <a href="#hasClassification"
         title="https://data.rijksfinancien.nl/budget/def/hasClassification">has classification</a>
   </li>
   <li>
      <a href="#isVersionOf"
         title="https://data.rijksfinancien.nl/budget/def/isVersionOf">isVersionOf</a>
   </li>
</ul><h4>Data Properties</h4><ul xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" class="hlist">
   <li>
      <a href="#authorized"
         title="https://data.rijksfinancien.nl/budget/def/authorized">date time authorized</a>
   </li>
   <li>
      <a href="#issued" title="https://data.rijksfinancien.nl/budget/def/issued">date time issued</a>
   </li>
   <li>
      <a href="#modified"
         title="https://data.rijksfinancien.nl/budget/def/modified">date time modified</a>
   </li>
   <li>
      <a href="#submitted"
         title="https://data.rijksfinancien.nl/budget/def/submitted">date time submitted</a>
   </li>
   <li>
      <a href="#description"
         title="https://data.rijksfinancien.nl/budget/def/description">has budget description</a>
   </li>
   <li>
      <a href="#identifier"
         title="https://data.rijksfinancien.nl/budget/def/identifier">identifier</a>
   </li>
   <li>
      <a href="#periodicity"
         title="https://data.rijksfinancien.nl/budget/def/periodicity">periodicity</a>
   </li>
   <li>
      <a href="#provenance"
         title="https://data.rijksfinancien.nl/budget/def/provenance">provenance</a>
   </li>
</ul><h4>Named Individuals</h4><ul xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" class="hlist">
   <li>
      <a href="#" title="https://data.rijksfinancien.nl/budget/def/">
         <span></span>
      </a>
   </li>
   <li>
      <a href="#Ceiling"
         title="https://data.rijksfinancien.nl/budget/def/Ceiling">Ceiling</a>
   </li>
   <li>
      <a href="#CeilingEstimate"
         title="https://data.rijksfinancien.nl/budget/def/CeilingEstimate">Ceiling Estimate</a>
   </li>
   <li>
      <a href="#Estimate"
         title="https://data.rijksfinancien.nl/budget/def/Estimate">Estimate</a>
   </li>
</ul><iframe align="center" width="100%" height ="500px" src="webvowl/index.html"></iframe> 
